Repository curl/curl, pull requests merged in 2018-03, with the labels that each got.

#2397 darwinssl: fix iOS build
  lib/vtls/darwinssl.c
Labels: SSL/TLS

#2411 cmake: partial fix for #2358.
  CMakeLists.txt
Labels: cmake

#2418 travis-ci: enable -Werror for CMake builds
  .travis.yml
Labels: build, cmake
