Repository curl/curl, pull requests merged in 2020-11, with the labels that each got.

#6077 travis: use ninja-build for CMake builds
  .travis.yml
  scripts/travis/before_script.sh
Labels: CI, build, cmake

#6193 http_proxy: use enum with state names for 'keepon'
  lib/http_proxy.c
  lib/urldata.h
Labels: connecting & proxies, tidy-up

#6206 tests/*server.py: close log file after each log line
  tests/Makefile.am
  tests/dictserver.py
  tests/negtelnetserver.py
  tests/smbserver.py
  tests/util.py
Labels: tests
